.content {
  border: solid 5px black;
  margin: 80px;
  /*padding: 5px;*/
  background-color: ghostwhite;
  color: black;
}

.container{
  margin-right: 30%;
  marging-left: 30%;
}

li {
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

.ng-repeat{
  margin-left: 50%;
  margin-right:50%
}

hr{
  border-top: 3px double #8c8b8b;
}

img{
  border: solid 1px black
}

h1{
text-align: center;
font-family:'Audiowide', cursive;
font-size: 50px;
}

@import url('https://fonts.googleapis.com/css?family=Audiowide');

body{
  background-color: gainsboro;
}
